* {
  box-sizing: border-box;
  max-height: 100vh;
}
/* .testclass {
    grid-row: 5;
    grid-column: 4;
    background-color: yellow;
} */
.box {
  display: grid;
  grid-template-columns: 20% 1fr 7% 1fr 7% 1fr 20%;
  grid-template-rows: repeat(6, 1fr);
  height: 50vh;
  margin-top: 30%;
}

.poleA {
  grid-column: 2;
  grid-row: 1 / 6;
  background-color: cornflowerblue;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  justify-items: center;
}

.poleB {
  grid-column: 4;
  grid-row: 1 / 6;
  background-color: red;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  justify-items: center;

}

.poleC {
  grid-column: 6;
  grid-row: 1 / 6;
  background-color: lightgreen;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  justify-items: center;

}

.floor {
  grid-column: 1 / 8;
  grid-row: 6;
  background-color: black;
}

.block1 {
  grid-row: 5;
  grid-column: 2;
  height: 70px;
  width: 130%;
  background-color: navy;
  z-index: 1;
  justify-self: center;
  align-self: center;
  display: flexbox;
  bottom: 0;
}

.block2 {
  grid-row: 4;
  grid-column: 2;
  height: 70px;
  width: 100%;
  background-color: navy;
  z-index: 1;
  justify-self: center;
  align-self: center;
  display: flexbox;
}
.block3 {
  grid-row: 3;
  grid-column: 2;
  height: 70px;
  width: 60%;
  background-color: navy;
  z-index: 1;
  align-self: center;
  justify-self: center;
  display: flexbox;
}

.solidBlock {
  justify-items: center;
}

.testblock {
  grid-row: 1;
  grid-column: 2;
}

.poleA .row1 {
    flex-direction: column;
    grid-column: 2;
    grid-row: 2;
    justify-content: center;
}
.poleB .row1 {
    flex-direction: column;
    grid-column: 4;
    grid-row: 2;
    justify-content: center;
}

.poleC .row1 {
    flex-direction: column;
    grid-column: 4;
    grid-row: 2;
    justify-content: center;
}