* {
  box-sizing: border-box;
  max-height: 100vh;
}

.box {
  display: grid;
  grid-template-columns: 20% 1fr 7% 1fr 7% 1fr 20%;
  /* grid-template-rows: repeat(6, 1fr); */
  height: 50vh;
  margin-top: 30%;
}

.poleA {
  grid-column: 2;
  height: 50vh;
  grid-row: 1 / 6;  
  display: flex;
  background-color: cornflowerblue;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  justify-items: center;
  align-items: flex-end;
}

.poleB {
  grid-column: 4;
  grid-row: 1 / 6;
  display: flex;
  background-color: red;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  justify-items: center;
  align-items: flex-end;
  vertical-align: bottom;
}

.poleC {
  grid-column: 6;
  grid-row: 1 / 6; 
  display: flex;
  background-color: lightgreen;
  flex-direction: column;
  /* justify-content: flex-start;
  align-content: flex-start;
  justify-items: center; */
}

.floor {
  height: 2em;
  width: 95vw;
  grid-row: 6;
  background-color: black;
  position: relative;;
}

.block1 {
  grid-row: 5; 
  margin-top: auto;
  grid-column: 2;
  height: 70px;
  width: 130%;
  background-color: navy;
  z-index: 2;
  justify-self: center;
  align-self: flex-end;
  margin-bottom: 0;

    /* bottom: -100%; */
  /* flex-direction: column-reverse; */
}

.block2 {
  grid-row: 4; 
  grid-column: 2;
  margin-top: auto;
  height: 70px;
  width: 100%;
  background-color: navy;
  z-index: 2;
  justify-self: center;
  align-self: flex-end;

  /* display: flex; */
}


.block3 {
  grid-row: 3; 
  grid-column: 2;
  margin-top: auto;
  height: 70px;
  width: 60%;
  background-color: navy;
  z-index: 2;
  align-self: flex-end;
  justify-self: center;
  /* display: flex; */
} 

/* 
.poleA .row1 {
    flex-direction: column;
    grid-row: 5;
    justify-content: center;
}
.poleB .row1 {
    flex-direction: column;
    grid-column: 2;
    grid-row: 5;
    justify-content: center;
}

.poleC .row1 {
    flex-direction: column;
    grid-column: 6;
    grid-row: 5;
    justify-content: center;
}
.poleA .row2 {
    flex-direction: column;
    grid-column: 2;
    grid-row: 4;
    justify-content: center;
}
.poleB .row2 {
    flex-direction: column;
    grid-column: 4;
    grid-row: 4;
    justify-content: center;
}
.poleC .row2 {
    flex-direction: column;
    grid-column: 6;
    grid-row: 4;
    justify-content: center;
}
.poleA .row3 {
    flex-direction: column;
    grid-column: 2;
    grid-row: 3;
    justify-content: center;
}
.poleB .row3 {
    flex-direction: column;
    grid-column: 4;
    grid-row: 3;
    justify-content: center;
}
.poleC .row3 {
    flex-direction: column;
    grid-column: 6;
    grid-row: 3;
    justify-content: center;
} */
