* {
  box-sizing: border-box;
  max-height: 100vh;
}

header {
    text-align: center;
    font-size: 24px;
    font-family: cursive;
    margin-bottom: 20px;
}

.span {
    font-size: 16px;
    font-weight: bold;
}
.rules {
    text-align: center;
    line-height: 2;
    margin-bottom: 10%;
}
ul {
    list-style-type: none;
}

.box {
  display: grid;
  grid-template-columns: 25% 2em 1fr 2em 1fr 2em 25%;
  height: 50vh;
  margin-top: auto;
}

.poleA {
  grid-column: 2;
  height: 50vh;
  grid-row: 1 / 6;  
  display: flex;
  background-color: cornflowerblue;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  justify-items: center;
  align-items: flex-end;
  vertical-align: bottom;

}

.poleB {
  grid-column: 4;
  grid-row: 1 / 6;
  display: flex;
  background-color: red;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  justify-items: center;
  align-items: flex-end;
  vertical-align: bottom;
}

.poleC {
  grid-column: 6;
  grid-row: 1 / 6; 
  display: flex;
  background-color: lightgreen;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  justify-items: center; 
  vertical-align: bottom;

}

.floor {
  height: 2em;
  width: 100vw;
  grid-row: 6;
  background-color: black;
  position: relative;;
}

.block4 {
  grid-row: 5; 
  margin-top: auto;
  grid-column: 2;
  height: 3em;
  width: 10em;
  background-color: navy;
  z-index: 2;
  justify-self: center;
  align-self: flex-end;
  margin-bottom: 0;
  text-align: center;
  color: white;
}

.block3 {
  grid-row: 4; 
  grid-column: 2;
  margin-top: auto;
  height:   3em;
  width: 8em;
  background-color: navy;
  z-index: 2;
  justify-self: center;
  align-self: flex-end;
  text-align: center;
  color: white;
}


.block2 {
  grid-row: 3; 
  grid-column: 2;
  margin-top: auto;
  height: 3em;
  width: 6em;
  background-color: navy;
  z-index: 2;
  align-self: flex-end;
  justify-self: center;
  text-align: center;
    color: white;
} 

.block1 {
    grid-row: 2; 
    grid-column: 2;
    margin-top: auto;
    height: 3em;
    width: 4em;
    background-color: navy;
    z-index: 2;
    align-self: flex-end;
    justify-self: center;
    text-align: center;
    color: white;
    padding-bottom: 1px;
    padding-top: 1px;
  } 

